<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:text="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>User - Home</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link th:href="@{/assets/css/policy.css}" href="../static/assets/css/policy.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link th:href="@{/assets/css/fonts.css}" href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"
          media="all"/>

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>SAFETY CAR</h1>
        </div>
        <div id="menu">
            <ul>
                <li><p sec:authorize="isAuthenticated()">
                    Logged as:<span th:text="${#authentication.getName()}"></span>
                </p>
                </li>
                <li class="current_page_item"><a th:href="@{/home}" accesskey="1" title="">Homepage</a></li>
                <li class="current_page_item"><a th:href="@{/offers/new}" accesskey="2" title="">Get a Quote</a></li>
                <li class="current_page_item"><a th:href="@{/contacts}" accesskey="3" title="">Contact Us</a></li>
                <li class="current_page_item"><a th:href="@{/register}" sec:authorize="isAnonymous()" accesskey="4"
                                                 title="">Sign Up</a></li>
                <li class="current_page_item"><a th:href="@{/login}" sec:authorize="isAnonymous()"
                                                 accesskey="5">Login</a></li>
                <li class="current_page_item"><a th:href="@{/logout}" sec:authorize="isAuthenticated()" accesskey="5">Log
                    out</a>
                    <form th:action="@{/logout}" method="post"></form>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col col-md-8">
    <div class="entry">
        <h3 th:if="${message}" th:text="${message}">MESSAGE</h3>
        <br>
        <a th:href="@{/login}" class="button">Login</a>
    </div>
</div>
