<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : SimpleWork 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140225

-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Agent - Home</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link th:href="@{/assets/css/policy.css}" href="../static/assets/css/policy.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link th:href="@{/assets/css/fonts.css}" href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"
          media="all"/>

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>SAFETY CAR</h1>
        </div>
        <div id="menu">
            <ul>
                <li><p sec:authorize="isAuthenticated()">
                    Logged as:<span th:text="${#authentication.getName()}"></span>
                </p>
                </li>
                <li class="current_page_item"><a th:href="@{/home}" accesskey="1" title="">Homepage</a></li>
                <li class="current_page_item"><a th:href="@{/offers/new}" accesskey="2" title="">Get a Quote</a></li>
                <li class="current_page_item"><a th:href="@{/contacts}" accesskey="3" title="">Contact Us</a></li>
                <li class="current_page_item"><a th:href="@{/register}" sec:authorize="isAnonymous()" accesskey="4"
                                                 title="">Sign Up</a></li>
                <li class="current_page_item"><a th:href="@{/login}" sec:authorize="isAnonymous()"
                                                 accesskey="5">Login</a></li>
                <li class="current_page_item"><a th:href="@{/logout}" sec:authorize="isAuthenticated()" accesskey="5">Log
                    out</a>
                    <form th:action="@{/logout}" method="post"></form>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="main">
    <h1>Active policy requests:</h1>

    <!--    <div id="policy-loader">-->

    <div th:if="${policies.isEmpty()}">
        <h3>No active policies at the moment.</h3>
    </div>

    <div th:unless="${policies.isEmpty()}">
        <div class="row" th:each="policy : ${policies}">
            <div th:if="${policy.policyStatus.id != 5}">
                <div class="total-cover">

                <div class="policy-grid">

                    <div class="info">
                        <h3> Policy Information:</h3>

                        <ul class="policy-details">

                            <li>
                                <label class="selected-item">Request number: </label>
                                <span class="list-items"
                                      th:text="${policy.getOffer().requestNumber}">Policy request number</span>
                            </li>

                            <li>
                                <label class="selected-item">Total premium: </label>
                                <span class="list-items"
                                      th:text="${policy.getOffer().totalPremium}">Total premium</span>
                            </li>

                            <li>
                                <label class="selected-item">Owner email address: </label>
                                <span class="list-items"
                                      th:text="${policy.getOwner().getEmailAddress()}">Policy request number</span>
                            </li>

                            <li>
                                <label class="selected-item">Start date: </label>
                                <span class="list-items"
                                      th:text="${policy.startDate}">Policy start date</span>
                            </li>

                            <li>
                                <label class="selected-item">End date: </label>
                                <span class="list-items"
                                      th:text="${policy.endDate}">Policy end date</span>
                            </li>

                            <li>
                                <label class="selected-item">Submit date: </label>
                                <span class="list-items"
                                      th:text="${policy.submitDate}">Policy request submit date</span>
                            </li>

                            <li>
                                <label class="selected-item">Status: </label>
                                <b><span class="list-items"
                                      th:text="${policy.policyStatus.name}">Policy status</span></b>
                            </li>

                        </ul>

                    </div>

                    <div class="info">
                        <h3> Car Information:</h3>

                        <ul class="policy-details">
                            <li>
                                <label class="selected-item">Brand: </label>
                                <span class="list-items"
                                      th:text="${policy.getOffer().getCarModel().getCarBrand().getName()}">Car Model</span>
                            </li>

                            <li>
                                <label class="selected-item">Model: </label>
                                <span class="list-items"
                                      th:text="${policy.getOffer().getCarModel().getName()}">Car Model</span>
                            </li>

                            <li>
                                <label class="selected-item">Cubic Capacity: </label>
                                <span class="list-items"
                                      th:text="${policy.getOffer().cubicCapacity}">Cubic Capacity</span>
                            </li>

                            <li>
                                <label class="selected-item">Registration Date: </label>
                                <span class="list-items"
                                      th:text="${policy.getOffer().registrationDate}">Registration Date</span>
                            </li>

                            <!--                            <li>-->
                            <!--                                <label class="selected-item">Registration certificate: </label>-->
                            <!--                                <br>-->
                            <!--                                <img th:src="'data:image/jpeg;base64, ' + ${convertImage.getConvertedImage(policy.registrationCertificate)}"-->
                            <!--                                     class="photo-certificate" alt="" src="">-->
                            <!--                            </li>-->

                        </ul>
                    </div>

                    <div class="info">
                        <h3> Driver Information:</h3>

                        <ul class="policy-details">

                            <li>
                                <label class="selected-item">First Name: </label>
                                <span class="list-items" th:text="${policy.firstName}">First Name</span>
                            </li>

                            <li>
                                <label class="selected-item">Last Name: </label>
                                <span class="list-items" th:text="${policy.lastName}">Last Name</span>
                            </li>

                            <li>
                                <label class="selected-item">Age: </label>
                                <span class="list-items"
                                      th:text="${policy.getOffer().driverAge}">Driver Age</span>
                            </li>

                            <li>
                                <label class="selected-item">Email Address:</label>
                                <span class="list-items"
                                      th:text="${policy.emailAddress}">Email Address</span>
                            </li>

                            <li>
                                <label class="selected-item">Phone Number: </label>
                                <span class="list-items"
                                      th:text="${policy.phoneNumber}">Phone Number</span>
                            </li>

                            <li>
                                <label class="selected-item">Postal Address: </label>
                                <span class="list-items"
                                      th:text="${policy.postalAddress}">Postal Address</span>
                            </li>

                            <li class="list-items" th:switch="${policy.getOffer().previousAccidents}">
                                <span th:case="${true}">Previous Accidents: Yes</span>
                                <span th:case="${false}">Previous Accidents: No</span>
                            </li>

                        </ul>
                    </div>

                </div>

                <span class="info">
                    <h3 class="selected-item">Registration certificate: </h3>
                    <img th:src="'data:image/jpeg;base64, ' + ${convertImage.getConvertedImage(policy.registrationCertificate)}"
                         class="photo-certificate" alt="" src="">
                </span>

            </div>
            <div class="buttons-user">
<!--                <div th:if="${policy.policyStatus.id != 2}">-->
                    <span class="create-button">
                        <form action="" th:action="@{/policies/__${policy.id}__/approve}" method="post">
                            <button type="submit" class="button">Approve policy</button>
                        </form>
                    </span>
<!--                    <div th:if="${policy.policyStatus.id != 3}">-->
                <span class="create-button">
                        <form action="" th:action="@{/policies/__${policy.id}__/reject}" method="post">
                            <button type="submit" class="button">Reject policy</button>
                        </form>
                    </span>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
