<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Update Requested Policy</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link th:href="@{/assets/css/main.css}" href="../static/assets/css/main.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link th:href="@{/assets/css/fonts.css}" href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"
          media="all"/>

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>SAFETY CAR</h1>
        </div>
        <div id="menu">
            <ul>
                <li>
                    <p sec:authorize="isAuthenticated()"> Logged as:<span th:text="${#authentication.getName()}"></span></p>
                </li>
                <li class="current_page_item">
                    <a th:href="@{/home}" accesskey="1" title="">Homepage</a>
                </li>
                <li class="current_page_item">
                    <a th:href="@{/users/edit}" accesskey="3" title="">Edit profile</a>
                </li>
                <li class="current_page_item">
                    <a th:href="@{/logout}" accesskey="4">Logout</a>
                    <form th:action="@{/logout}" method="post"></form>
                </li>
            </ul>
        </div>
    </div>

    <!--	<div id="header-featured">-->
    <div class="entry">
        <form th:action="@{/users/password}" th:object="${dto}" method="post" action="#">
            <div class="update-policy">

                <div class="policy">
                    <label>Old password: </label>
                    <input th:field="*{oldPassword}" type="password" name="s"
                           value=""/>
                    <label class="error" th:errors="*{oldPassword}"></label>
                </div>

                <div class="policy">
                    <label>New password: </label>
                    <input th:field="*{newPassword}" type="password" name="s"
                           value=""/>
                    <label class="error" th:errors="*{newPassword}"></label>
                </div>

                <div class="policy">
                    <label>Confirm password: </label>
                    <input th:field="*{passwordConfirmation}" type="password" name="s"
                           value=""/>
                    <label class="error" th:errors="*{passwordConfirmation}"></label>
                </div>

                <div class="create-button">
                    <button type="submit" class="button">Submit</button>
                </div>

            </div>

        </form>
    </div>
</div>

</body>
</html>