<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link th:href="@{/assets/css/main.css}" href="../static/assets/css/main.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link th:href="@{/assets/css/fonts.css}" href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"
          media="all"/>
</head>
<body>

<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>SAFETY CAR</h1>
        </div>
        <div id="menu">
            <ul>
                <li><p sec:authorize="isAuthenticated()">
                    User:<span sec:authentication="name"></span>
                </p></li>
                <li class="current_page_item"><a th:href="@{/home}" accesskey="1" title="">Homepage</a></li>
                <li class="current_page_item"><a th:href="@{/offers/new}" accesskey="2" title="">Get a Quote</a></li>
                <li class="current_page_item"><a th:href="@{/users}" sec:authorize="isAuthenticated()" accesskey="3">Profile</a>
                </li>
                <li class="current_page_item"><a th:href="@{/agents}" sec:authorize="isAuthenticated()" accesskey="8">Agent
                    Panel</a></li>
                <li class="current_page_item">
                    <a th:href="@{/login}" sec:authorize="isAnonymous()" accesskey="4">Login</a>
                </li>
                <li class="current_page_item"><a th:href="@{/logout}" sec:authorize="isAuthenticated()" accesskey="4">Log
                    out</a>
                    <form th:action="@{/logout}" method="post">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="contacts">
    <div>
        <h1>
            Find us at:
        </h1>
    </div>
    <br>
    <div>
        <h3>
            Email address: safetycar16nr@gmail.com
        </h3>
    </div>
    <br>
    <div>
        <h3>
            Phone number: +359888555555
        </h3>
    </div>
    <br>
    <h3>
        Address: 22 Alexander Stamboliiski Blvd, Sofia, Bulgaria
    </h3>
</div>
</body>
</html>
