<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link th:href="@{/assets/css/styles.css}" href="../static/assets/css/style.css" rel="stylesheet">
    <link th:href="@{/assets/css/main.css}" href="../static/assets/css/main.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link th:href="@{/assets/css/fonts.css}" href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"
          media="all"/>
</head>
<body>

<div id="header" class="container">
    <div id="logo">
        <h1>SAFETY CAR</h1>
    </div>
    <div id="menu">
        <ul>
            <li><p sec:authorize="isAuthenticated()">
                User:<span sec:authentication="name"></span>
            </p></li>
            <li class="current_page_item"><a th:href="@{/home}" accesskey="1" title="">Homepage</a></li>
            <li class="current_page_item"><a th:href="@{/offers/new}" accesskey="2" title="">Get a Quote</a></li>
            <li class="current_page_item"><a th:href="@{/users}" sec:authorize="isAuthenticated()" accesskey="3">Profile</a></li>
            <li class="current_page_item"><a th:href="@{/contacts}" accesskey="4" title="">Contact Us</a></li>
            <li class="current_page_item"><a th:href="@{/agents}" sec:authorize="hasRole('ROLE_AGENT')" accesskey="8">Agent Panel</a></li>
            <li class="current_page_item">
                <a th:href="@{/login}" sec:authorize="isAnonymous()" accesskey="5">Login</a>
            </li>
            <li class="current_page_item"><a th:href="@{/logout}" sec:authorize="isAuthenticated()" accesskey="5">Log
                out</a>
                <form th:action="@{/logout}" method="post">
                </form>
            </li>
        </ul>
    </div>
</div >

<div class="error-page">
<h2>
    Error
</h2>
<h3 th:text="${message}" >
    Error message
</h3>
<h3 th:text="${code}">
    403
</h3>
</div>
</body>
</html>