<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Simulate Offer</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link th:href="@{/assets/css/main.css}" href="../static/assets/css/main.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link th:href="@{/assets/css/fonts.css}" href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"
          media="all"/>
<!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"-->
<!--            integrity=""-->


</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>SAFETY CAR</h1>
        </div>
        <div id="menu">
            <ul>
                <li><p sec:authorize="isAuthenticated()">
                    User:<span sec:authentication="name"></span>
                </p>
                </li>
                <li class="current_page_item"><a th:href="@{/home}" accesskey="1" title="">Homepage</a></li>
                <li class="current_page_item"><a th:href="@{/users}" sec:authorize="isAuthenticated()" accesskey="3">Profile</a></li>
                <li class="current_page_item"><a th:href="@{/contacts}" accesskey="4" title="">Contact Us</a></li>
                <li class="current_page_item"><a th:href="@{/register}" sec:authorize="isAnonymous()" accesskey="5"
                                                 title="">Sign Up</a></li>
                <li class="current_page_item"><a th:href="@{/login}" sec:authorize="isAnonymous()"
                                                 accesskey="6">Login</a></li>
                <li class="current_page_item"><a th:href="@{/logout}" sec:authorize="isAuthenticated()" accesskey="6">Log
                    out</a>
                    <form th:action="@{/logout}" method="post"></form>
                </li>
            </ul>
        </div>
    </div>
    <!--	<div id="header-featured">-->
    <div class="entry">
        <h2>In order to calculate your total premium, please fill in </h2>
        <h2>the details of the car you would like to insure:</h2>
        <h4>*All fields are mandatory</h4>

        <div id="offer">

            <form th:action="@{/offers/new}" th:object="${offer}" method="post" action="#">
                <div class="offer-form">

                    <div id="models">
                        <label for="brand-select">Select car brand: </label>
                        <select th:field="*{carBrandId}" id="brand-select">
                            <option value="-1" selected>Car Brand</option>
                            <option th:each="brand : ${brands}" th:value="${brand.id}"
                                    th:text="${brand.name}">Opel
                            </option>
                        </select>
                        <label class="error" th:errors="*{carBrandId}"></label>
                    </div>

                    <div id="brands">
                        <label for="model-select">Select car model: </label>
                        <select th:field="*{carModelId}" id="model-select">
                            <option value="-1" selected>Car Model</option>
                            <option th:each="model : ${models}" th:value="${model.id}"
                                    th:text="${model.name}">Opel Astra
                            </option>
                        </select>
                        <label class="error" th:errors="*{carModelId}"></label>
                    </div>

                    <div id="input-cubic-capacity">
                        <label for="input-capacity">Enter cubic capacity: </label>
                        <input th:field="*{cubicCapacity}" type="text" name="s" id="input-capacity"
                               value=""/>
                        <br>
                        <label class="error" th:errors="*{cubicCapacity}"></label>
                    </div>

                    <div id="input-registration-date">
                        <label for="example">Select car registration date:</label>
                        <input th:field="*{registrationDate}" type="date" id="example" class="form-control">
                        <label class="error" th:errors="*{registrationDate}"></label>
                    </div>

                    <div id="input-driver-age">
                        <label for="input-age">Enter driver's age: </label>
                        <input th:field="*{driverAge}" type="text" name="s" id="input-age"
                               value=""/>
                        <label class="error" th:errors="*{driverAge}"></label>
                    </div>

                    <div class="switch">
                        <label> Have you had any car accidents in the previous year?</label>
                        <label>
                            <input th:field="*{previousAccidents}" type="checkbox">
                        </label>
                        <span class="slider round"></span>
                    </div>
                </div>

                <div class="create-button">
                    <button type="submit" class="button">Calculate Total Premium</button>
                </div>

            </form>
        </div>
    </div>
</div>
<script src="../static/assets/js/selector.js" type=""></script>
</body>
</html>
