<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : SimpleWork 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140225

-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Policy Cancellation Confirmation</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link th:href="@{/assets/css/main.css}" href="../static/assets/css/main.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link th:href="@{/assets/css/fonts.css}" href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"
          media="all"/>

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>SAFETY CAR</h1>
        </div>
        <div id="menu">
            <ul>
                <li><p sec:authorize="isAuthenticated()">
                    User:<span sec:authentication="name"></span>
                </p></li>
                <li class="current_page_item"><a th:href="@{/home}" accesskey="1" title="">Homepage</a></li>
                <li class="current_page_item"><a th:href="@{/offers/new}" accesskey="2" title="">Get a Quote</a></li>
                <li class="current_page_item"><a th:href="@{/users}" sec:authorize="isAuthenticated()" accesskey="3">Profile</a></li>
                <li class="current_page_item"><a th:href="@{/contacts}" accesskey="4" title="">Contact Us</a></li>
                <li class="current_page_item"><a th:href="@{/agents}" sec:authorize="hasRole('ROLE_AGENT')" accesskey="8">Agent Panel</a></li>
                <li class="current_page_item">
                    <a th:href="@{/login}" sec:authorize="isAnonymous()" accesskey="5">Login</a>
                </li>
                <li class="current_page_item"><a th:href="@{/logout}" sec:authorize="isAuthenticated()" accesskey="5">Log
                    out</a>
                    <form th:action="@{/logout}" method="post">
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <!--    <div id="header-featured">-->
    <div class="confirmation">
        <h1>The policy request has been approved.</h1>
    </div>

    <div class="buttons">
        <span class="create-button">
            <a th:href="@{/agents}" class="button">Go back to all policies</a>
        </span>

<!--        <span class="create-button">-->
<!--            <a th:href="@{/offers/new}" class="button">Request a new policy</a>-->
<!--        </span>-->
    </div>

</div>

</body>
</html>
