<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : SimpleWork 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140225

-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Policy Requested</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link th:href="@{/assets/css/policy.css}" href="../static/assets/css/policy.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link th:href="@{/assets/css/fonts.css}" href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"
          media="all"/>

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>SAFETY CAR</h1>
        </div>
        <div id="menu">
            <ul>
                <li><p sec:authorize="isAuthenticated()">
                    User:<span sec:authentication="name"></span>
                </p></li>
                <li class="current_page_item"><a th:href="@{/home}" accesskey="1" title="">Homepage</a></li>
                <li class="current_page_item"><a th:href="@{/offers/new}" accesskey="2" title="">Get a Quote</a></li>
                <li class="current_page_item"><a th:href="@{/users}" sec:authorize="isAuthenticated()" accesskey="3">Profile</a>
                </li>
                <li class="current_page_item"><a th:href="@{/contacts}" accesskey="4" title="">Contact Us</a></li>
                <li class="current_page_item">
                    <a th:href="@{/login}" sec:authorize="isAnonymous()" accesskey="5">Login</a>
                </li>
                <li class="current_page_item"><a th:href="@{/logout}" sec:authorize="isAuthenticated()" accesskey="5">Log
                    out</a>
                    <form th:action="@{/logout}" method="post">
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <!--    <div id="header-featured">-->

    <div class="information">

        <div th:object="${newPolicy}">
            <div class="title">
                <div class="message">
                    <h1>Thank you for submitting your policy request. We will contact you within 1-3 business
                        days. </h1>
                    <h1> The details of your request are:</h1>
                </div>

                <div class="premium">
                    <h3>
                        <label class="selected-item">Request Number: </label>
                        <span class="list-items" th:text="${newOffer.requestNumber}">Request Number</span>
                    </h3>

                    <h3>
                        <label class="selected-item">Total Premium: </label>
                        <span class="list-items" th:text="${newOffer.totalPremium}">Total Premium</span>
                    </h3>

                    <div class="info">
                    <h3 class="selected-item">Registration certificate: </h3>
                    <img th:src="'data:image/jpeg;base64, ' + ${convertImage.getConvertedImage(newPolicy.registrationCertificate)}"
                         class="photo-certificate" alt="" src="">
                </div>
                </div>
            </div>
            <div class="total-cover">
                <div class="policy-grid">

                    <div class="info">
                        <h3> Policy Information:</h3>

                        <ul class="policy-details">

                            <li>
                                <label class="selected-item">Start date: </label>
                                <span class="list-items" th:text="${newPolicy.startDate}">Policy start date</span>
                            </li>

                            <li>
                                <label class="selected-item">End date: </label>
                                <span class="list-items" th:text="${newPolicy.endDate}">Policy end date</span>
                            </li>

                            <li>
                                <label class="selected-item">Submit date: </label>
                                <span class="list-items"
                                      th:text="${newPolicy.submitDate}">Policy request submit date</span>
                            </li>

                            <li>
                                <label class="selected-item">Status: </label>
                                <b><span class="list-items"
                                         th:text="${newPolicy.policyStatus.name}">Policy status</span></b>
                            </li>

                        </ul>

                    </div>
                    <div class="info">
                        <h3> Car Information:</h3>

                        <ul class="policy-details">
                            <li>
                                <label class="selected-item">Brand: </label>
                                <span class="list-items"
                                      th:text="${newOffer.carModel.getCarBrand().name}">Car Model</span>
                            </li>

                            <li>
                                <label class="selected-item">Model: </label>
                                <span class="list-items" th:text="${newOffer.carModel.name}">Car Model</span>
                            </li>

                            <li>
                                <label class="selected-item">Cubic Capacity: </label>
                                <span class="list-items" th:text="${newOffer.cubicCapacity}">Cubic Capacity</span>
                            </li>

                            <li>
                                <label class="selected-item">Registration Date: </label>
                                <span class="list-items" th:text="${newOffer.registrationDate}">Registration Date</span>
                            </li>

                            <!--                        <li>-->
                            <!--                            <label class="selected-item">Registration certificate: </label>-->
                            <!--                            <br>-->
                            <!--                            <img th:src="'data:image/jpeg;base64, ' + ${convertImage.getConvertedImage(newPolicy.registrationCertificate)}"-->
                            <!--                                 class="photo-certificate" alt="" src="">-->
                            <!--                        </li>-->
                        </ul>
                    </div>

                    <div class="info    ">
                        <h3> Driver Information:</h3>

                        <ul class="policy-details">

                            <li>
                                <label class="selected-item">First Name: </label>
                                <span class="list-items" th:text="${newPolicy.firstName}">First Name</span>
                            </li>

                            <li>
                                <label class="selected-item">Last Name: </label>
                                <span class="list-items" th:text="${newPolicy.lastName}">Last Name</span>
                            </li>

                            <li>
                                <label class="selected-item">Age: </label>
                                <span class="list-items" th:text="${newOffer.driverAge}">Driver Age</span>
                            </li>

                            <li>
                                <label class="selected-item">Email Address:</label>
                                <span class="list-items" th:text="${newPolicy.emailAddress}">Email Address</span>
                            </li>

                            <li>
                                <label class="selected-item">Phone Number: </label>
                                <span class="list-items" th:text="${newPolicy.phoneNumber}">Phone Number</span>
                            </li>

                            <li>
                                <label class="selected-item">Postal Address: </label>
                                <span class="list-items" th:text="${newPolicy.postalAddress}">Postal Address</span>
                            </li>

                            <li class="list-items" th:switch="${newOffer.previousAccidents}">
                                <span th:case="${true}">Previous Accidents: Yes</span>
                                <span th:case="${false}">Previous Accidents: No</span>
                            </li>

                        </ul>
                    </div>

                </div>

            </div>

            <div class="buttons">

        <span class="create-button">
            <a th:href="@{/users}" class="button">Review your policies</a>
        </span>

                <span class="create-button">
            <a th:href="@{/offers/new}" class="button">Request a new policy</a>
        </span>
            </div>

        </div>
    </div>
</div>
</body>
</html>
