<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : SimpleWork 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140225

-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Update Requested Policy</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link th:href="@{/assets/css/main.css}" href="../static/assets/css/main.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link th:href="@{/assets/css/fonts.css}" href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"
          media="all"/>

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>SAFETY CAR</h1>
        </div>
        <div id="menu">
            <ul>
                <li><p sec:authorize="isAuthenticated()">
                    User:<span sec:authentication="name"></span>
                </p></li>
                <li class="current_page_item"><a th:href="@{/home}" accesskey="1" title="">Homepage</a></li>
                <li class="current_page_item"><a th:href="@{/offers/new}" accesskey="2" title="">Get a Quote</a></li>
                <li class="current_page_item"><a th:href="@{/users}" sec:authorize="isAuthenticated()" accesskey="3">Profile</a></li>
                <li class="current_page_item"><a th:href="@{/contacts}" accesskey="4" title="">Contact Us</a></li>
                <li class="current_page_item">
                    <a th:href="@{/login}" sec:authorize="isAnonymous()" accesskey="5">Login</a>
                </li>
                <li class="current_page_item"><a th:href="@{/logout}" sec:authorize="isAuthenticated()" accesskey="5">Log
                    out</a>
                    <form th:action="@{/logout}" method="post">
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <!--	<div id="header-featured">-->
    <div class="entry">
        <h2>Update policy:</h2>
        <form th:action="@{/policies/__${id}__/update}" th:object="${policy}" method="post" action="#">
            <div class="update-policy">

                <div class="policy">
                    <label for="input-fn">First Name: </label>
                    <input th:field="*{firstName}" type="text" name="s" id="input-fn"
                           value=""/>
                    <label class="error" th:errors="*{firstName}"></label>
                </div>

                <div class="policy">
                    <label for="input-ln">Last Name: </label>
                    <input th:field="*{lastName}" type="text" name="s" id="input-ln"
                           value=""/>
                    <label class="error" th:errors="*{lastName}"></label>
                </div>

                <div class="policy">
                    <label for="input-pn">Phone Number: </label>
                    <input th:field="*{phoneNumber}" type="text" name="s" id="input-pn"
                           value=""/>
                    <label class="error" th:errors="*{phoneNumber}"></label>
                </div>

                <div class="policy">
                    <label for="input-ea">Email Address: </label>
                    <input th:field="*{emailAddress}" type="text" name="s" id="input-ea"
                           value=""/>
                    <label class="error" th:errors="*{emailAddress}"></label>
                </div>

                <div class="policy">
                    <label for="input-pa">Postal Address: </label>
                    <input th:field="*{postalAddress}" type="text" name="s" id="input-pa"
                           value=""/>
                    <label class="error" th:errors="*{postalAddress}"></label>
                </div>

                <div>
                    <label for="example">Select Policy Start Date:</label>
                    <input th:field="*{startDate}" type="date" id="example" class="form-control">
                    <label class="error" th:errors="*{startDate}"></label>
                </div>

                <div class="file">
                    <label>Upload car registration certificate: </label>
                    <input type="file" name="image" accept="image/png, image/jpeg"/>
                </div>

<!--                <div class="status">-->
<!--                    <label for="status-select">Select Status: </label>-->
<!--                    <select th:field="*{policyStatusId}" id="status-select">-->
<!--                        <option value="-1" selected>Status</option>-->
<!--                        <option th:each="status : ${statuses}" th:value="${status.id}"-->
<!--                                th:text="${status.name}">Status-->
<!--                        </option>-->
<!--                    </select>-->
<!--                    <label class="error" th:errors="*{policyStatusId}"></label>-->
<!--                </div>-->

                <div class="create-button">
                    <button type="submit" class="button">Submit for review</button>
                </div>

            </div>

        </form>
    </div>
</div>

</body>
</html>
