<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Register</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link th:href="@{/assets/css/main.css}" href="../static/assets/css/main.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link th:href="@{/assets/css/fonts.css}" href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"
          media="all"/>

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>SAFETY CAR</h1>
        </div>
        <div id="menu">
            <ul>
                <li><p sec:authorize="isAuthenticated()">
                    User:<span sec:authentication="name"></span>
                </p></li>
                <li class="current_page_item"><a th:href="@{/home}" accesskey="1" title="">Homepage</a></li>
                <li class="current_page_item"><a th:href="@{/offers/new}" accesskey="2" title="">Get a Quote</a></li>
                <li class="current_page_item"><a th:href="@{/users}" sec:authorize="isAuthenticated()" accesskey="3">Profile</a></li>
                <li class="current_page_item"><a th:href="@{/contacts}" accesskey="4" title="">Contact Us</a></li>
                <li class="current_page_item"><a th:href="@{/login}" sec:authorize="isAnonymous()"
                                                 accesskey="5">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="entry">
        <p>
            <i th:if="${error != null}" th:text="${error}" class="error"></i>
        </p>
        <form action="#" th:action="@{/register}" th:object="${user}" method="post">
            <label>Email:</label>
            <br/>
            <input type="text" th:field="*{emailAddress}"/>
            <br/>
            <label>Password:</label>
            <br/>
            <input type="password" th:field="*{password}"/>
            <br/>
            <label>Confirm Password:</label>
            <br/>
            <input type="password" th:field="*{passwordConfirmation}"/>
            <br/>
            <label>First Name:</label>
            <br/>
            <input type="text" th:field="*{firstName}"/>
            <br/>
            <label>Last Name:</label>
            <br/>
            <input type="text" th:field="*{lastName}"/>
            <br/>
            <label>Phone number:</label>
            <br/>
            <input type="text" th:field="*{phoneNumber}"/>
            <br/>
            <label>Address:</label>
            <br/>
            <input type="text" th:field="*{address}"/>
            <br/>
            <br>
<!--            <input type="submit" value="Register"/>-->
            <div class="create-button">
                <button type="submit" class="button">Register</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>