<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>User - Home</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link th:href="@{/assets/css/policy.css}" href="../static/assets/css/policy.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link th:href="@{/assets/css/fonts.css}" href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"
          media="all"/>

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>SAFETY CAR</h1>
        </div>
        <div id="menu">
            <ul>
                <li><p sec:authorize="isAuthenticated()">
                    Logged as:<span th:text="${#authentication.getName()}"></span>
                </p>
                </li>
                <li class="current_page_item">
                    <a th:href="@{/home}" accesskey="1" title="">Homepage</a>
                </li>
                <li class="current_page_item">
                    <a th:href="@{/offers/new}" accesskey="2" title="">Get a Quote</a>
                </li>
                <li class="current_page_item">
                    <a th:href="@{/users/password}" accesskey="3" title="">Change Password</a>
                </li>
                <li class="current_page_item">
                    <a th:href="@{/users/edit}" accesskey="4" title="">Edit profile</a>
                </li>
                <li class="current_page_item">
                    <a th:href="@{/logout}" accesskey="5">Logout</a>
                    <form th:action="@{/logout}" method="post"></form>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="main">
<!--    <div>-->
<!--        <form th:action="@{/users/filter-status}" th:object="${policyFilterSortDTO}" method="post" action="">-->
<!--                <label>Filter by status-->
<!--                    <select th:field="*{statusId}" class="search-sort-field">-->
<!--                        <option value="-1" selected>Status</option>-->
<!--                        <option th:each="status: ${statuses}"-->
<!--                                th:value="${status.id}"-->
<!--                                th:text="${status.name}">All-->
<!--                        </option>-->
<!--                    </select>-->
<!--                </label>-->
<!--                &nbsp;-->
<!--                <label>Sort by start date-->
<!--                    <select th:field="*{startDate}" class="search-sort-field">-->
<!--&lt;!&ndash;                        <option value="-1" selected>Start date</option>&ndash;&gt;-->
<!--&lt;!&ndash;                        <option th:each="status : ${statuses}"&ndash;&gt;-->
<!--&lt;!&ndash;                                th:value="${status.getId()}"&ndash;&gt;-->
<!--&lt;!&ndash;                                th:text="${status.name}">Ascending&ndash;&gt;-->
<!--&lt;!&ndash;                        </option>&ndash;&gt;-->
<!--                    </select>-->
<!--                </label>-->
<!--                &nbsp;-->
<!--                <button th:href="@{/search}" class="button">Search</button>-->
<!--        </form>-->
<!--    </div>-->

    <h1>Policy Requests History:</h1>
    <div th:if="${allPoliciesByOwner.isEmpty()}">
        <h3>You have not requested any policies yet.</h3>
    </div>

    <div th:unless="${allPoliciesByOwner.isEmpty()}">
        <div class="row" th:each="policy : ${allPoliciesByOwner}">
            <div class="total-cover">
                <div class="policy-grid">

                    <div class="info">
                        <h3> Policy Information:</h3>

                        <ul class="policy-details">

                            <li>
                                <label class="selected-item">Request number: </label>
                                <span class="list-items"
                                      th:text="${policy.getOffer().requestNumber}">Policy request number</span>
                            </li>

                            <li>
                                <label class="selected-item">Total premium: </label>
                                <span class="list-items"
                                      th:text="${policy.getOffer().totalPremium}">Total premium</span>
                            </li>

                            <li>
                                <label class="selected-item">Start date: </label>
                                <span class="list-items"
                                      th:text="${policy.startDate}">Policy start date</span>
                            </li>

                            <li>
                                <label class="selected-item">End date: </label>
                                <span class="list-items"
                                      th:text="${policy.endDate}">Policy end date</span>
                            </li>

                            <li>
                                <label class="selected-item">Submit date: </label>
                                <span class="list-items"
                                      th:text="${policy.submitDate}">Policy request submit date</span>
                            </li>

                            <li>
                                <label class="selected-item">Status: </label>
                                <b><span class="list-items"
                                         th:text="${policy.policyStatus.name}">Policy status</span></b>
                            </li>

                        </ul>

                    </div>

                    <div class="info">
                        <h3> Car Information:</h3>

                        <ul class="policy-details">
                            <li>
                                <label class="selected-item">Brand: </label>
                                <span class="list-items"
                                      th:text="${policy.getOffer().getCarModel().getCarBrand().getName()}">Car Model</span>
                            </li>

                            <li>
                                <label class="selected-item">Model: </label>
                                <span class="list-items"
                                      th:text="${policy.getOffer().getCarModel().getName()}">Car Model</span>
                            </li>

                            <li>
                                <label class="selected-item">Cubic Capacity: </label>
                                <span class="list-items"
                                      th:text="${policy.getOffer().cubicCapacity}">Cubic Capacity</span>
                            </li>

                            <li>
                                <label class="selected-item">Registration Date: </label>
                                <span class="list-items"
                                      th:text="${policy.getOffer().registrationDate}">Registration Date</span>
                            </li>

                            <!--                        <li>-->
                            <!--                            <label class="selected-item">Registration certificate: </label>-->
                            <!--                            <br>-->
                            <!--                            <img th:src="'data:image/jpeg;base64, ' + ${convertImage.getConvertedImage(policy.registrationCertificate)}"-->
                            <!--                                 class="photo-certificate" alt="" src="">-->
                            <!--                        </li>-->


                        </ul>

                    </div>


                    <div class="info">
                        <h3> Driver Information:</h3>

                        <ul class="policy-details">

                            <li>
                                <label class="selected-item">First Name: </label>
                                <span class="list-items" th:text="${policy.firstName}">First Name</span>
                            </li>

                            <li>
                                <label class="selected-item">Last Name: </label>
                                <span class="list-items" th:text="${policy.lastName}">Last Name</span>
                            </li>

                            <li>
                                <label class="selected-item">Age: </label>
                                <span class="list-items"
                                      th:text="${policy.getOffer().driverAge}">Driver Age</span>
                            </li>

                            <li>
                                <label class="selected-item">Email Address:</label>
                                <span class="list-items"
                                      th:text="${policy.emailAddress}">Email Address</span>
                            </li>

                            <li>
                                <label class="selected-item">Phone Number: </label>
                                <span class="list-items"
                                      th:text="${policy.phoneNumber}">Phone Number</span>
                            </li>

                            <li>
                                <label class="selected-item">Postal Address: </label>
                                <span class="list-items"
                                      th:text="${policy.postalAddress}">Postal Address</span>
                            </li>

                            <li class="list-items" th:switch="${policy.getOffer().previousAccidents}">
                                <span th:case="${true}">Previous Accidents: Yes</span>
                                <span th:case="${false}">Previous Accidents: No</span>
                            </li>

                        </ul>
                    </div>


                    <!--            </div>-->
                    <!--            <div class="buttons-user">-->

                    <!--                <span class="create-button">-->
                    <!--                        <form action="" th:action="@{/policies/__${policy.id}__/update}" method="get">-->
                    <!--                            <button type="submit" class="button">Update policy</button>-->
                    <!--                        </form>-->
                    <!--                    </span>-->
                </div>

                <span class="info">
                    <h3 class="selected-item">Registration certificate: </h3>
                    <img th:src="'data:image/jpeg;base64, ' + ${convertImage.getConvertedImage(policy.registrationCertificate)}"
                         class="photo-certificate" alt="" src="">
                </span>

            </div>

            <span th:if="${policy.policyStatus.id != 5}">
                        <span class="create-button">
                        <form action="" th:action="@{/policies/__${policy.id}__/cancel}" method="post">
                            <button type="submit" class="button">Cancel policy</button>
                        </form>
                    </span>
                </span>

        </div>
    </div>


    <!--                    <div id="sidebar">-->
    <!--                        <ul class="style1">-->
    <!--                            <li class="first">-->
    <!--                                <h3>Amet sed volutpat mauris</h3>-->
    <!--                                <p><a href="#">In posuere eleifend odio. Quisque semper augue mattis wisi. Pellentesque-->
    <!--                                    viverra vulputate enim. Aliquam erat volutpat.</a></p>-->
    <!--                            </li>-->
    <!--                            <li>-->
    <!--                                <h3>Sagittis diam dolor sit amet</h3>-->
    <!--                                <p><a href="#">In posuere eleifend odio. Quisque semper augue mattis wisi. Pellentesque-->
    <!--                                    viverra vulputate enim. Aliquam erat volutpat.</a></p>-->
    <!--                            </li>-->
    <!--                            <li>-->
    <!--                                <h3>Maecenas ac quam risus</h3>-->
    <!--                                <p><a href="#">In posuere eleifend odio. Quisque semper augue mattis wisi. Pellentesque-->
    <!--                                    viverra vulputate enim. Aliquam erat volutpat.</a></p>-->
    <!--                            </li>-->
    <!--                        </ul>-->
    <!--                        <div id="stwo-col">-->
    <!--                            <div class="sbox1">-->
    <!--                                <h2>Etiam rhoncus</h2>-->
    <!--                                <ul class="style2">-->
    <!--                                    <li><a href="#">Semper quis egetmi dolore</a></li>-->
    <!--                                    <li><a href="#">Quam turpis feugiat dolor</a></li>-->
    <!--                                    <li><a href="#">Amet ornare hendrerit lectus</a></li>-->
    <!--                                    <li><a href="#">Quam turpis feugiat dolor</a></li>-->
    <!--                                </ul>-->
    <!--                            </div>-->
    <!--                            <div class="sbox2">-->
    <!--                                <h2>Integer gravida</h2>-->
    <!--                                <ul class="style2">-->
    <!--                                    <li><a href="#">Semper quis egetmi dolore</a></li>-->
    <!--                                    <li><a href="#">Quam turpis feugiat dolor</a></li>-->
    <!--                                    <li><a href="#">Consequat lorem phasellus</a></li>-->
    <!--                                    <li><a href="#">Amet turpis feugiat amet</a></li>-->
    <!--                                </ul>-->
    <!--                            </div>-->
    <!--                        </div>-->
</div>
<!--<div id="copyright" class="container">-->
<!--    <p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> |-->
<!--        Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>-->
<!--</div>-->
</body>
</html>
