<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Update Requested Policy</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link th:href="@{/assets/css/main.css}" href="../static/assets/css/main.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link th:href="@{/assets/css/fonts.css}" href="../static/assets/css/fonts.css" rel="stylesheet" type="text/css"
          media="all"/>

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>SAFETY CAR</h1>
        </div>
        <div id="menu">
            <ul>
                <li><p sec:authorize="isAuthenticated()">
                    Logged as:<span th:text="${#authentication.getName()}"></span>
                </p>
                </li>
                <li class="current_page_item">
                    <a th:href="@{/home}" accesskey="1" title="">Homepage</a>
                </li>
                <li class="current_page_item">
                    <a th:href="@{/users/password}" accesskey="2" title="">Change Password</a>
                </li>
                <li class="current_page_item">
                    <a th:href="@{/logout}" accesskey="4">Logout</a>
                    <form th:action="@{/logout}" method="post"></form>
                </li>
            </ul>
        </div>
    </div>

    <!--	<div id="header-featured">-->
    <div class="entry">
        <h3>Update your details:</h3>
        <form th:action="@{/users/edit}" th:object="${dto}" method="post" action="#">
            <div class="update-policy">

                <div class="policy">
                    <label for="input-fn">First Name: </label>
                    <input th:field="*{firstName}" type="text" name="s" id="input-fn"
                           value=""/>
                    <label class="error" th:errors="*{firstName}"></label>
                </div>

                <div class="policy">
                    <label for="input-ln">Last Name: </label>
                    <input th:field="*{lastName}" type="text" name="s" id="input-ln"
                           value=""/>
                    <label class="error" th:errors="*{lastName}"></label>
                </div>

                <div class="policy">
                    <label for="input-pn">Phone Number: </label>
                    <input th:field="*{phoneNumber}" type="text" name="s" id="input-pn"
                           value=""/>
                    <label class="error" th:errors="*{phoneNumber}"></label>
                </div>

                <div class="policy">
                    <label for="input-ad"> Address: </label>
                    <input th:field="*{address}" type="text" name="s" id="input-ad"
                           value=""/>
                    <label class="error" th:errors="*{address}"></label>
                </div>

                <div class="create-button">
                    <button type="submit" class="button">Submit</button>
                </div>

            </div>

        </form>
    </div>
</div>

</body>
</html>
