<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .container
    </style>
</head>
<body>
<div class="container">
<!--    Title is currently implemented, but not used-->
<!--    <h4 th:text="${title}">TITLE</h4>-->

    <p th:text="'Hello, ' + ${firstName} + ' ' + ${lastName} + ','"></p>
    <br>
    <p>Thank you for joining us! <br> To confirm your registration and activate your account, please
        <a th:href="${link}">follow this link.</a>
    </p>
    <br>
    <p>If you have any difficulties with the activation, please let us know by replying to this email.</p>
    <br>
    <p> Best Regards, <br>Safety Car Team</p>
</div>
</body>
</html>